
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin : 0;
  font: 16px "Ubuntu", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.flex{
  display : flex;
}
.flex-col{
  flex-direction : column;
}

.bg-black1 {
  background-color : #4D5254;
}

input{
  color : black;
}


.main-container{
  margin : 0;
  padding : 0;
  height : 100vh;
}

;