<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>

<body>
   <form class=" flex  flex-col gap-2 " action="">
      <p>Name :</p>
      <input class="text-black" type="text">
      <p>Description : </p>
      <input class=" h-32 text-black " type="text">
      <p>Price :</p>
      <input class="text-black" type="number">
      <p>Image :</p>
      <input type="file">
      <button type="submit" class=" w-20 h-10 rounded-lg bg-green-500 "> ADD </button>
   </form>
</body>

</html>