<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../../public/css/style.css">
   <link href="/dist/style.css" rel="stylesheet">
   <script src="https://cdn.tailwindcss.com"></script>
   <title>Document</title>
</head>

<body>
   <div class=" flex flex-col gap-[20vh] items-start p-10 border-r-[1px] border-r-[#757575] w-[20%] font-extralight">
      <div class="text-2xl">
         <p class="font-bold">Joe Makuta</p>
         <p class="text-sm">20 products</p>
      </div>
      <div class="flex flex-col gap-7">
         <a href="" class=" font-extrabold ">Products</a>
         <a href="/addproduct">New Product</a>
         <a href="">Orders</a>
         <a href="">Reports</a>
      </div>
      <div class="  rounded-full w-[3vw] h-[3vw] flex items-center justify-center border-[1px] border-white text-sm ">
         A.A
      </div>
   </div>
</body>

</html>